<%-include('include/_nav')%>
<div class="container">
    <div class="add-user">
        <a href="/" class="border-shadow">
            <span class="text-gradient"><i class="fa-solid fa-backward-step">All User</i></span>
        </a>
    </div>
</div>
<div class="form-title text-center">
    <h2 class="text-dark">New User</h2>
    <span class="text-light">Use the below form to create a new account</span>
</div>
<%-include('include/_form')%>
<%-include('include/_footer')%>